body{background-color: #9c9f84; margin: 0px;}
#main{background-color: #e5e4d7; border-radius: 5px; padding: 10px; margin: 20px;}
.image{float: left; margin-right: 10px; margin-bottom: 20px; border-width: 1px; border-style: solid;} /* Use margins to push the text to the right and not wrapping around the image. */